body {
    margin: 0;
    padding: 0;
    background-color: rgb(49, 45, 45);
    color: #218838;
    font-size: 200%;
    text-align: center;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}